
<!-- This is an easier way for nav bar. this is a partial -->


  <!-- Header/NavBar -->

  <nav class="mainHeader">
          <img class="hwsLogo" src="../../Images/hwslogo.png" alt="Logo">
         <p class="headerHeading"> How was School?</p>
          <a href="index.html">  </a>
  
  <!-- Hamburger Menu -->
          <div class="container">
            <header>
                <nav class="navbar">
                    <div class="hamburger--container" onclick="on()">
                        <div class="line line--1"></div>
                        <div class="line line--2"></div>
                        <div class="line line--3"></div>
                    </div>
    
                    <ul class="ul--navlist">
                      <li><a href="/">Home</a></li>
                        <li><a href="#">School Announcements</a></li>
                        <li><a href="#">School Forum</a></li>
                        <li><a href="#">Class Syllabus</a></li>
                        <li><a href="#">Homework Resources</a></li>
                        <li><a href="#"> After School Programs</a></li>
                        <li><a href="#"> Contact the School</a></li>
                    </ul>
                </nav>
                <div id="overlay" onclick="off()"></div>
            </header>
            
        </div>
  
        </nav>