<!DOCTYPE html>
<html lang="en">
  <!-- this is a partial for the head -->
  <%- include('./partials/head.ejs') %>

  <body>
    <!-- partials. navbar  -->
    <%- include('./partials/nav.ejs') %> <<!-- Options Buttons -->


    <!-- 404 error -->

    <div class="updatesContainer">
      <img src="/Images/404.png" />


    </div>

    <div class="goBack">
      <a href="/"> <img src="../Images/back.svg" alt="back arrow"> <p> Go back to Home Page</p></a>
  </div>
    
    
<!-- 
        <div class="options">
          <img src="../Images/contact.svg" alt="contactsvg" />
          <a
          <p>Go Back</p>
        </div>
      </a>
    </div> -->


    <!-- footer partial.  -->
    <%- include('./partials/footer.ejs') %>

    <script src="index.js"></script>
  </body>
</html>
