<!DOCTYPE html>
<html lang="en">
    <!-- this is a partial for the head -->
    <%- include('./partials/head.ejs') %>

<body>
    <nav class="mainHeader">
        <img class="hwsLogo" src="Images/hwslogo.png" alt="Logo">
       <p class="headerHeading"> How was School?</p>
        <a href="/">  </a>
        </nav>

        <div class="goBack">
            <a href="/"> <img src="../Images/back.svg" alt="back arrow"> <p> Go back to Home Page</p></a>
        </div>

        <div class="page">
    <h1> Calendar Event Adder <img src="../Images/calendar.svg"> </h1>
    <p>
    Here you can create a new event to add to your child's Google Calendar
    </p>
    </div>


    <!-- Calendar Form -->
<<<<<<< HEAD
    <div class="form">
      <form action="http://localhost:3025/" method="POST">
        <a class="button" target="_blank" rel="noopener noreferrer" href="https://accounts.google.com/o/oauth2/v2/auth/oauthchooseaccount?access_type=offline&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar.readonly&response_type=code&client_id=808233503594-c3isbglgijq2l1op2hviv9ojqg0sms5m.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&flowName=GeneralOAuthFlow">Sign In</a>
         <span>You need to Sign In first</span><br><br>
        <label for="token">Paste the copied token here</label>
        <input name="token" type="text" placeholder="must be like this Jw65AJg05xiOGmkCld...">
        <input type="submit" value="Get my events"></input>
      </form>
      <hr>
      <form action="http://localhost:3025/events" method="POST">
        <label for="attendee email">Attendee email</label>
        <input type="email" name="to" placeholder="send email to...">
        <label for="event title">Event Title</label>
        <input type="text" name="summary" placeholder="the title of event...">
        <label for="body">Event body</label>
        <input type="text" name="description" placeholder="the message body...">
        <input type="submit" value="Send Event Invite">
=======
    <div class="pageForm">
      <h2>Add Calendar Event</h2>
      <form action="/action_page.php">
        <label for="eventName">Event Name</label>
        <input type="text" id="eventName" >
        

        <form action="/action_page.php">
      <label for="date">Event Date</label>
      <input type="date" id="date" name="date">
    </form>
    
    
    <form action="/action_page.php">
      <label for="startTime">Start Time:</label>
      <input type="time" id="time" name="time">
    </form>
    

    <form action="/action_page.php">
      <label for="time">End Time:</label>
      <input type="time" id="time" name="time">
    </form>
  
        
    <form action="/action_page.php">
    <label for="description">Event Description</label>
    <textarea id="description" name="description" rows="4" cols="50">
      </textarea>
      
        <input type="submit" value="Submit">
>>>>>>> 71108f86b48fbe324f9225bf60c92e82ab8ef017
      </form>
    </div>
    

</body>

</html>