<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/calendar.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
  <title>Google Events</title>
</head>
<body style="background-color:#12C06A">
  <div class="eventsPage">
    <h2 
    style="font-family:'Questrial', sans-serif; 
    text-align: center;
    color:white;
    font-size:3rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    ">Your Calendar Event was created successfully!</h2>
    <p
    style="font-family:'Frank Ruhl Libre', serif;
    text-align: center;
    color:white;
    font-size:1.5rem;
    margin:0;

    "
    >You can <a href="https://calendar.google.com/calendar/u/0/r/month/2020/12/1?tab=mc" target="blank">see it</a> in your Google Calender</p>
  

  <img style="margin:0 20rem;" src="https://i.pinimg.com/originals/e8/06/52/e80652af2c77e3a73858e16b2ffe5f9a.gif" alt="successgif">
<button
style="
text-decoration: none;
border-radius: 30px;
color:white;
background-color: #08a356;
padding: 1rem;
font-family: 'Questrial', sans-serif; 
font-size: 1.7rem;
display: inherit;
margin: 0 auto;
margin-bottom: 5rem;
"
> <a style="text-decoration: none; color: white;" href="/"> Home</a></button>
</div>
</body>
</html>