<%- include('partials/header') %>

    <form action='/pay' method="post">
        <input type="submit" value="buy">
    </form>

    <a href="/" type="submit">Return to Homepage</a>

<%- include('partials/footer') %>

