<%- include('./partials/head.ejs') %>

<div class="goBack">
    <a href="/"> <img src="../Images/back.svg" alt="back arrow"> <p> Go back to Home Page</p></a>
</div>

<h1>PAYMENT SUCCESS!</h1>

<%- include('./partials/footer.ejs') %>