<!DOCTYPE html>
<html lang="en">
  <!-- this is a partial for the head -->
  <%- include('./partials/head.ejs') %>

  <body>
    <nav class="mainHeader">
      <img class="hwsLogo" src="../Images/hwslogo.png" alt="Logo" />
      <p class="headerHeading">How was School?</p>
      <a href="/"> </a>
    </nav>

    <div class="goBack">
      <a href="/">
        <img src="../Images/back.svg" alt="back arrow" />
        <p>Go back to Home Page</p></a>
    </div>


    <div class="page">
      <h1> Welcome to your child's Tutoring page <img src="../Images/grades.svg"> </h1>
      <p>
          First step is to <strong>sign up</strong> to be paired with a tutor right for your child
      </p>
  </div>


<!-- Tutor sign up form -->
<form action="/tutor" method="post" class="pageForm">

  <h2> Tutor Sign-Up Form</h2>
  <label for="firstname"> Name </label>
  <input type ="text" name="firstname">
  <label for="lastname"> Last Name </label>
  <input type ="text" name="lastname">
  <label for="email"> Email Address </label>
  <input type ="email" name="email">
  <label for="description"> What do you need help with? <label>
  <input type="text" id="description" placeholder="Description"> </input>
  <label for="subject"> Subject</label>
  <input type="text" id="subject" placeholder="Subject"> </input>
  <input type ="submit" name="submit">
  
</form>

    
    <!-- footer partial.  -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
