<!DOCTYPE html>
<html lang="en">
  <!-- this is a partial for the head -->
  <%- include('./partials/head.ejs') %>

  <body>
    <nav class="mainHeader">
      <img class="hwsLogo" src="../Images/hwslogo.png" alt="Logo" />
      <p class="headerHeading">How was School?</p>
      <a href="/"> </a>
    </nav>

    <div class="goBack">
      <a href="/">
        <img src="../Images/back.svg" alt="back arrow" />
        <p>Go back to Home Page</p></a>
      
    </div>
<!-- Tutor sign up form -->
    <form id ="tutorForm">
      <label for="firstname"> Name </label>
      <input type ="text" name="firstname">
      <label for="lastname"> Last Name </label>
      <input type ="text" name="lastname">
      <label for="Email"> email </label>
      <input type ="email" name="email">

      <input type ="submit" name="submit">
      
    </form>

    
    <!-- footer partial.  -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
