@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  40% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ec5858;
}

.hwsLogo {
  height: 5.5rem;
  width: 5rem;
  padding: 0 1.5rem;
}

.mainHeader {
  height: 4.5rem;
  width: 100%;
  padding: 0.5rem;
  background-color: #8f4d40;
  display: flex;
  justify-content: left;
  align-items: center;
  position: static;
}
.mainHeader p {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 2rem;
}

/* Hamburger Menu */
.navbar {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100%;
  position: fixed;
  margin: 0;
  background-color: black;
  top: 0;
  right: -300px;
  transition: right 0.5s cubic-bezier(1, 0, 0, 1);
  font-family: "Questrial", sans-serif;
  z-index: 5;
}

.hamburger--container {
  position: fixed;
  width: 40px;
  height: 40px;
  top: 13px;
  right: 50px;
  padding: 10px;
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 10;
}

.line {
  background-color: #ec5858;
  width: 4rem;
  height: 7px;
  border-radius: 60px;
  transition: all 0.5s;
}

.ul--navlist li {
  margin: 50px;
  text-align: center;
}

.ul--navlist li a {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
}

.ul--navlist li a:hover {
  transition: 0.3s;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  color: #ec5858;
}

.change {
  right: 0;
  box-shadow: 2px 2px 20px black;
}
.change .line--1 {
  transform: rotateZ(-405deg) translate(-10px, 9px);
}
.change .line--2 {
  opacity: 0;
}
.change .line--3 {
  transform: rotateZ(405deg) translate(-10px, -9px);
}
.change .hamburger--container {
  background-color: transparent;
  transition: ease-in-out 0.8s;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

/* Home Page*/
.teacherUpdateContainer {
  background: #4b7fdf;
  height: 15.5rem;
  margin: 4rem 7rem;
  padding: 1rem;
  border-radius: 30px;
  animation-duration: 2s;
  animation-name: bounceIn;
}
.teacherUpdateContainer h2 {
  font-family: "Questrial", sans-serif;
  display: inline;
  font-size: 2rem;
}
.teacherUpdateContainer pre {
  margin-top: 5px;
  font-family: "Frank Ruhl Libre", serif;
  display: inline;
  text-align: center;
  font-size: 1.2rem;
}

.teacherImg {
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 100%;
  border: 1px solid black;
  box-shadow: 5px 2px 6px black;
}

.teacherInfo {
  display: flex;
  justify-items: center;
  justify-content: center;
}
.teacherInfo h2 {
  margin-left: 1rem;
  margin-top: 40px;
}

.updateInfo {
  display: flex;
  justify-items: center;
  justify-content: center;
}

.codingImg {
  height: 6.5rem;
  width: 6.5rem;
  margin-top: 30px;
  margin-left: 15px;
}

.optionsContainer {
  display: inline;
  margin: 1rem 7rem;
}

.options {
  display: inline-block;
  width: 133px;
  height: 133px;
  text-align: center;
  margin: 3rem 2rem;
  margin-bottom: 7rem;
  padding: 3rem;
  box-shadow: 10px 10px 5px black;
  border-radius: 100%;
  background-image: linear-gradient(#da5353, orange);
}
.options p {
  font-family: "Questrial", sans-serif;
  font-size: 2rem;
  color: black;
  margin: 0;
  padding: 0;
}
.options img {
  width: 4rem;
}
.options img, .options p {
  padding-top: 1rem;
}
.options a {
  text-decoration: none;
}

.options:hover {
  cursor: pointer;
  transition: 0.5s;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.updatesContainer {
  justify-content: center;
  text-align: center;
}
.updatesContainer img {
  height: 35rem;
  width: 75%;
  border-radius: 5%;
}
.updatesContainer h1 {
  font-family: "Questrial", sans-serif;
  font-size: 3rem;
  margin-top: 4rem;
}
.updatesContainer p {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1.3rem;
  margin: 0 4rem;
}

iframe {
  width: 560px;
  height: 315px;
  margin-left: 33%;
  margin-top: 2rem;
}

/* Back Button */
.goBack {
  display: flex;
  margin: 2rem;
  font-family: "Questrial", sans-serif;
  background-color: #4b7fdf;
  border: none;
  border-radius: 1px 30px 30px 1px;
  color: black;
  padding: 5px 32px;
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
  opacity: 1;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.goBack img {
  height: 4.5rem;
}
.goBack p {
  font-family: "Questrial", sans-serif;
  font-size: 2rem;
  display: inline;
  justify-content: center;
}
.goBack a {
  text-decoration: none;
  color: black;
}

.goBack:hover {
  opacity: 0.6;
  transition: 0.3s;
}

/* Pages */
.page {
  justify-content: center;
  vertical-align: center;
  text-align: center;
}
.page h1 {
  font-family: "Questrial", sans-serif;
  font-size: 3.5rem;
}
.page p {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 2rem;
}
.page img {
  height: 5rem;
  margin: 1rem;
  margin-bottom: 0.5rem;
}

input[type=text], input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #a3a2a2;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
  background-color: white;
}

input[type=submit] {
  width: 100%;
  background-color: #ec5858;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Questrial", sans-serif;
  text-align: center;
}

input[type=submit]:hover {
  background-color: #45a049;
  transition: 0.3s;
}

.pageForm {
  display: block;
  border-radius: 5px;
  background-color: #ccc;
  padding: 3rem;
  margin: 3rem;
  position: relative;
  left: 33%;
  width: 25rem;
  font-family: "Questrial", sans-serif;
  text-align: center;
}
.pageForm form {
  display: inline-block;
  margin: 10px auto;
}
.pageForm h2 {
  font-family: "Questrial", sans-serif;
  font-size: 2rem;
  margin-bottom: 15px;
}
.pageForm label {
  color: black;
  font-family: "Questrial", sans-serif;
}
.pageForm textarea {
  font-family: "Questrial", sans-serif;
  border-radius: 4px;
  margin-top: 5px;
  padding: 5px;
  border: 2px solid #a3a2a2;
  background-color: white;
}
.pageForm input {
  font-family: "Questrial", sans-serif;
  margin: 15px;
}

.donation-container {
  font-family: "Questrial", sans-serif;
  color: black;
  font-weight: 500;
  font-size: 3rem;
  margin-top: 30px;
}

.donation-box {
  width: 390px;
  height: 386px;
  background-color: #ccc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.donation-box .title {
  background-color: #4b7fdf;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 15px;
}

.donation-box .donate-button {
  background-color: #4b7fdf;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  bottom: 0px;
  position: absolute;
  cursor: pointer;
  font-weight: 800;
}

.donation-box .fields {
  width: 59%;
  display: block;
  position: absolute;
  top: 60px;
  left: 15px;
}

.donation-box .fields input {
  width: 90%;
  font-size: 17px;
  padding: 10px;
  border-radius: 4px;
  border-width: 0;
  color: #5C5C5C;
  font-family: "Questrial", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
  -webkit-font-smoothing: antialiased;
}

::-webkit-input-placeholder {
  color: #cdcdcd;
  font-size: 15px;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #cdcdcd;
  font-size: 15px;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #cdcdcd;
  font-size: 15px;
}

:-ms-input-placeholder {
  color: #cdcdcd;
  font-size: 15px;
}

.donation-box .amount {
  width: 30%;
  display: block;
  position: absolute;
  top: 60px;
  right: 15px;
}

.donation-box .amount .button {
  width: 100%;
  background-color: gray;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  padding: 15px 0px 15px 0px;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 400ms background-color;
  -moz-transition: 800ms opacity, 800ms right;
  -ms-transition: 800ms opacity, 800ms right;
  -o-transition: 800ms opacity, 800ms right;
  transition: 200ms background-color;
}

.donation-box .amount .button:hover {
  background-color: #393939;
}

.donation-box .amount .button.selected {
  background-color: #393939;
}

.donation-box .amount .button input {
  min-width: 34px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  background-color: transparent;
  color: white;
  font-family: "Questrial", sans-serif;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  border-bottom: 2px dashed white;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.set-amount {
  max-width: 96px;
}

.checkboxes {
  margin: 4rem auto;
  position: absolute;
  top: 175px;
  left: 13px;
}

.checkboxes label {
  position: relative;
  top: -8px;
  font-size: 13px;
  color: gray;
  margin-bottom: 3rem;
}

.checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #4b7fdf;
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  outline: none;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.checkbox:checked {
  background-color: #C1D82F;
  border: 1px solid #C1D82F;
  color: white;
}

.checkbox:checked:after {
  content: "✔";
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: white;
}

.confirm {
  display: none;
  position: absolute;
  top: 335px;
  left: 15px;
  right: 15px;
  font-size: 16px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.confirm i {
  font-weight: bold;
  text-decoration: underline;
  font-style: normal;
}

/* FOOTER */
footer {
  height: 4.5rem;
  width: 100%;
  padding: 0.5rem;
  margin-top: 4rem;
  background-color: #8f4d40;
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
}
footer img {
  height: 5.5rem;
  width: 5rem;
}

/*# sourceMappingURL=main.css.map */
